
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.Template {
    max-width: 750px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.header img {
    width: 100%;
    max-width: 120px;
    height: auto;
}

.header {
    text-align: left;
    padding: 2% 5%;
    color: #ffffff;
    animation: fadeIn 1s ease-out;
}

.main {
    padding: 2% 5%;
    animation: fadeIn 1s ease-out;
}

#To_join {
    color: #161212;
}

.main p {
    font-size: 20px;
}

h1 {
    color: #161212;
}

p {
    color: #827b7b;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    color: #357ae8;
}

button {
    background-color: #4a90e2;
    color: #ffffff;
    padding: 15px 100px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

.footer {
    padding: 2% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;

}

.footer_left img {
    width: 100%;
    max-width: 120px;
    height: auto;
}

.fa-regular.fa-copyright {
    font-size: 13px;
}

.footer_right {
    text-align: right;
}

.footer_right img {
    width: 20px;
    margin-left: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        padding: 10px; 
    }

    .header,
    .main,
    .footer,
    button {
        padding: 2% 3%;
    }
    
}

@media screen and (max-width: 600px) {
    body {
        padding: 20px; 
    }

    .header,
    .main,
    .footer,
    button {
        padding: 5% 10px;
    }
    .footer_left,
        .footer_right {
            width: 100%; 
            text-align: left;
        }

        #Terms {
            text-align: left; 
        }

}
